:root {
    --bvw-dark-purple: #201830;
    --bvw-purple: #4d2b87;
    --bvw-light-purple: #9c8ab6;
    --bvw-light-yellow: #eee38b;
    --bvw-yellow: #e8c70d;

    --off-white: #EFF0F7;

    --bvw-yellow-00: #e8c70d;
    --bvw-yellow-10: #edcd3c;
    --bvw-yellow-20: #f1d359;
    --bvw-yellow-30: #f4d973;
    --bvw-yellow-40: #f8df8b;
    --bvw-yellow-50: #fae5a2;

    --bvw-purple-00: #4d2b87;
    --bvw-purple-10: #543587;
    --bvw-purple-20: #5b3e86;
    --bvw-purple-30: #614886;
    --bvw-purple-40: #675185;
    --bvw-purple-50: #6d5a84;

    --bvw-light-00: #eff0f7;
    --bvw-light-10: #e2e3e9;
    --bvw-light-20: #d5d6db;
    --bvw-light-30: #c9c9ce;
    --bvw-light-40: #bcbdc0;
    --bvw-light-50: #b0b0b3;

    --bvw-dark-00: #201830;
    --bvw-dark-10: #352d44;
    --bvw-dark-20: #4c4459;
    --bvw-dark-30: #635c6f;
    --bvw-dark-40: #7b7585;
    --bvw-dark-50: #948f9c;

    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";

    --header-text-colour:var(--bvw-light-00);
    --header-background-colour: var(--bvw-dark-00);

    --body-text-colour: var(--bvw-dark-00);
        --body-text-colour-alt: var(--bvw-purple-00);
    --body-background-colour: var(--bvw-light-00);
        --body-background-colour-alt: var(--bvw-light-10);

    --accent-colour: var(--bvw-purple-00);
        --accent-colour-alt: var(--bvw-purple-00);

}

.dark {
    --header-text-colour:var(--bvw-light-00);
    --header-background-colour: var(--bvw-dark-10);

    --body-text-colour: var(--bvw-light-00);
        --body-text-colour-alt: var(--bvw-yellow-30);
    --body-background-colour: var(--bvw-dark-00);
        --body-background-colour-alt: var(--bvw-dark-10);

    --accent-colour: var(--bvw-yellow-30);
        --accent-colour-alt: var(--bvw-yellow-10);


}

html, body {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100vw;
    height: 100%;
    background-color: var(--body-background-colour);
    color: var(--body-text-colour);
}

header {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: var(--header-background-colour);
    color: var(--header-text-colour);
    h1 {
        margin: 0;
    }
}
.headerTitle > a {
    text-decoration: none;
    color: var(--header-text-colour)
}
.headerToggles {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 95%;
}


/* nav styles */
.hamburger {
    cursor: pointer;
}

.hamburger .line {
    display: block;
    width: 40px;
    height: 4px;
    margin-bottom: 4px;
    margin-top: 8px;
    background-color: var(--header-text-colour);
}

.nav-links {
    width: 100%;
    top: 5rem;
    display: none;
    margin: 0;

}

.nav-links a {
    display: block;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--header-text-colour);
}

.expanded {
    display: unset;
}

@media screen and (min-width: 1150px) {
    .nav-links {
        justify-content: space-between;
        display: block;
        position: static;
        width: auto;
        background: none;
    }

    .nav-links a {
        display: inline-block;
        padding: 15px 20px;
    }

    .hamburger {
        display: none;
    }
}
