---
import Navigation from "./Navigation.astro";
import DarkmodeToggle from "./DarkmodeToggle.astro";
import Hamburger from './Hamburger.astro';

const isDev = import.meta.env.DEV;
const basePath = isDev ? "/bvw-site" : ""
---

<header>
    <h1 class="headerTitle"><a href={`${basePath}/`}>Ballater Victoria Week</a></h1>

    <div class="headerToggles">
        <DarkmodeToggle/>
        <p class="headerDate">9th - 17th Aug 2025</p>
        <Navigation/>


        <Hamburger/>
    </div>
    <script>
        document.querySelector('.hamburger').addEventListener('click', () => {
            document.querySelector('.nav-links').classList.toggle('expanded');
        });
    </script>
</header>
