---
import Navigation from "./Navigation.astro";
import DarkmodeToggle from "./DarkmodeToggle.astro";
import Hamburger from './Hamburger.astro';
---

<header>
    <h1 class="headerTitle">Ballater Victoria Week</h1>

    <div class="headerToggles">
        <DarkmodeToggle/>
        <p class="headerDate">9th - 17th Aug 2025</p>
        <Navigation/>


        <Hamburger/>
    </div>

</header>

<script>
    document.querySelector('.hamburger').addEventListener('click', () => {
        document.querySelector('.nav-links').classList.toggle('expanded');
    });
</script>